* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Be Vietnam Pro', sans-serif;
}
ul {
    list-style: none;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
}
main {
    display: flex;
    flex-direction: column;
}

summary {
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
summary .titulo, summary p{
    display: flex;
    flex-direction: column;
}
aside {
    display: flex;
    justify-content: space-between;
    background-color: #F3613C;
    align-items: center;
    padding: 0 6vw 0 12vw;
}
footer {
    display: flex;
    justify-content: space-around;
    background-color: #1E1E26;
    padding: 3.75rem;
}

/*-------------------------------------------Clases------------------------------------------------*/
.areaPrincipal, .areaMedia, .areaFinal {
    margin-left: 5vw;
    margin-top: 3vh;
    margin-right: 5vw;
}

.areaPrincipal, .areaMedia{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.seccion1, .articulo1 {
    display: flex;
    flex-direction: column;
    margin-left: 4vw;
    justify-content: space-around;
}

.areaFinal {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: space-between;
    margin-top: 9vh;
    margin-bottom: 9vh;
}
.areaFinal div {
    margin-top: 6vhpx;
}

.menu {
    display: flex;
    padding: 1rem;
}
.menu li {
    margin: 1rem;
}

.articulo1{
    display: flex;
    justify-content: flex-start;   
}

.articulo2 {
    display: flex;
    flex-direction: column;
}
.articulo2 section {
    display: flex;
}

.beneficios {
    display: flex;
    flex-direction: column;
}

.boxesTestimonios{
    display: flex;

}
.boxesTestimonios img {
    width: 4vw;
    height: 8vh;
}
.boxesTestimonios p{
    width: 20.5vw;
    height: 6vh;
    margin: 1vw;
}

.footerBox1, .footerBox2, .footerBox3, .footerBox4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.footerBox2 .menuFooter a li, .footerBox3 .menuFooter a li  {
    margin-bottom:  1rem ;
}

.buscador {
    display: flex;
    justify-content: space-between;
}

/*------------------------------------------Botones------------------------------------------*/
.botonStart {
    display: flex;
    background-color: #F3603B;
    width: 7vw;
    height: 4vh;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 13.18px;
    font-weight: 500;
    color: #FFFFFF;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    
}
.botonLista {
    display: flex;
    background-color: #F3603B;
    width: 69px;
    height: 43px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
}

.botonStartBlanco {
    display: flex;
    background-color: #FFFFFF;
    width: 134px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 13.18px;
    font-weight: 500;
    color: #F3603B;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

.barraSearch {
    display: flex;
    background-color: #FFFFFF;
    width: 201px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 13.18px;
    font-weight: 500;
    color: #A0A0A0;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}
.botonSearch {
    display: flex;
    background-color: #F3603B;
    width: 63px;
    height: 42px;
    margin-left: 10px;
    border-style: none;

    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 13.18px;
    font-weight: 500;
    color: #FFFFFF;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}
.copyright p {
    display: flex;
    justify-content: flex-end ;
    font-weight: 500;
    font-size: 12px;
    align-items: center;
    color: #8C8C94;
}
/*--------------------------------------Fuentes y tamaños------------------------------------------*/
.titulo {
    font-weight: 700;
}
h1 {
    font-size: 58px;
    color: #232C50;
    margin-top: 0px;
}
h2 {
    margin-top: 0px;
    font-size: 36px;
    color: #232C50;
}
h3 {
    margin-top: 50px;
    margin-bottom: 50px;
}
h5 {
    margin-top: 14px;
}
.areaFinal h3 {
    font-size: 40px;
    color: #242E53;
}
aside h3 {
    font-size: 40px;
    color: #FFFFFF;
}

/* Párrafos Oscuros*/
p {
    font-size: 16px;
    font-weight: 500;
}
.areaMedia p {
    padding-top: 1rem;
}
.areaPrincipal p, .articulo1 p {
    color: black;
}

/*Párrafos Grises*/
.articulo2 p, .areaFinal p {
    color: #B9B9C1;

}




/*no puedo poner de color blanco el logo .svg de la pagina en el footer<-------------------------*/
.footerBox1 .redSocial {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}

.footerBox1 {
    margin-left: 90px;
}


.menu a {
    font-size: 13px;
    font-weight: 500;
    color: #242E52;
}
.menuFooter a{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}


/*----------------------Background de la página y hovers botones----------------------*/
body{
    background-image: url(../imagenes/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: right -145px top -250px;
}

.botonStart:hover, .botonSearch:hover {
    background-color: #F3603B;
    opacity: 0.8;
    box-shadow: 0px 4px 25px #F3603B;
    transition: 0.7s;
}
.botonStartBlanco:hover{
    background-color: #ffffff;
    color: #ffa692;
    box-shadow: 0px 4px 25px #c7c7c7c2;
    transition: 0.7s;
}


/*para quitar subrayado a los hipervinculos con pseudo clases*/
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

@media (max-width:375px) {

/*header*/
    .menu {
        display: none;
    }

    nav .botonStart {
        display: none;
    }

/*main*/
    main {
        flex-wrap: wrap-reverse;
    }

.boxesTestimonios {
    display: none;
}

aside {
    display: none;
}

/*footer*/
footer {
    display: none;
}
/*header*/
}